options {
        directory "/var/named";
        forwarders { 8.8.8.8; 8.8.4.4; };
        notify no;
};

zone "{{ domain }}" in {
       type master;
       file "stackable.zone";
};

zone "{{ hostvars[groups.nat[0]]['internal_ip'] | ansible.netcommon.ipaddr('revdns') | split('.')[1:] | join('.') }}" in {
        type master;
        file "stackable-reverse.zone";
};