; BIND db file for {{ domain }}

$TTL 86400

@       IN      SOA     nat.{{ domain }}.      info.stackable.de. (
                        2020063001	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      nat.{{ domain }}.


$ORIGIN {{ domain }}.

nat  IN      A    {{ hostvars[groups.nat[0]]['internal_ip'] }}
{% for host in groups['protected'] %}{{ host }}  IN      A       {{ hostvars[host]['ansible_host']}}
{% endfor %}