; BIND db reverse file for {{ domain }}

$TTL 86400

@       IN      SOA     edge.{{ domain }}.      info.stackable.de. (
                        2020063001	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

@       IN      NS      edge.{{ domain }}.

{% set reverse_dns_domain = internal_ip | ipaddr('revdns') %}
$ORIGIN {{ reverse_dns_domain.split('.')[1:] | join('.') }}

{{ internal_ip.split('.')[-1] }}  IN      PTR    edge.{{ domain }}.
{% for host in groups['protected'] %}{{ hostvars[host]['ansible_host'].split('.')[-1] }}  IN      PTR       {{ host }}.{{ domain }}.
{% endfor %}