; BIND db file for {{ domain }}

$TTL 86400

@       IN      SOA     edge.{{ domain }}.      info.stackable.de. (
                        2020063001	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

@       IN      NS      edge.{{ domain }}.


$ORIGIN {{ domain }}.

edge  IN      A    {{ internal_ip }}
{% for host in groups['protected'] %}{{ host }}  IN      A       {{ hostvars[host]['ansible_host']}}
{% endfor %}