options {
        directory "/var/named";
        forwarders { 8.8.8.8; 8.8.4.4; };
        notify no;
        allow-recursion { 10.0.0.0/8; };
        allow-query { 10.0.0.0/8; };
        allow-query-cache { 10.0.0.0/8; };
};

zone "{{ domain }}" in {
       type master;
       file "stackable.zone";
};

{% set reverse_dns_domain = internal_ip | ipaddr('revdns') %}
zone "{{ reverse_dns_domain.split('.')[1:] | join('.') }}" in {
        type master;
        file "stackable-reverse.zone";
};