[Unit]
Description=Add default route for internet access
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/root/networkconf.sh
Type=oneshot
StandardOutput=journal
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
