options {
        directory "/var/cache/bind";
        forwarders { 8.8.8.8; 8.8.4.4; };
        notify no;
};

zone "{{ domain }}" in {
       type master;
       file "stackable.zone";
};

{% set reverse_dns_domain_of_bastion_host = hostvars[groups.nat[0]]['internal_ip'] | ipaddr('revdns') %}
zone "{{ reverse_dns_domain_of_bastion_host.split('.')[1:] | join('.') }}" in {
        type master;
        file "stackable-reverse.zone";
};