; BIND db reverse file for {{ domain }}

$ORIGIN {{ hostvars[groups.nat[0]]['internal_ip'] | ansible.netcommon.ipaddr('revdns') | split('.')[1:] | join('.') }}.
$TTL 86400

@       IN      SOA     nat.{{ domain }}.      info.stackable.de. (
                        2020063001	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

@       IN      NS      nat.{{ domain }}.

{{ hostvars[groups.nat[0]]['internal_ip'] | ip_last_octet }}  IN      A    nat
{% for host in groups['protected'] %}{{ hostvars[host]['ansible_host'] | ip_last_octet }}  IN      PTR       {{ host }}
{% endfor %}